.feedback {
    width: 100%;
    min-height: 100vh;
    border: 1px solid black;
    background-color: rosybrown;
}

.aboutUs {
    width: 100%;
    min-height: 100vh;
    border: 1px solid black;
    background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
}

.homepage {
    width: 100%;
    min-height: 100vh;
    border: 1px solid black;
    background-color: rosybrown;
}