.order {
    margin: auto;
    margin-top: 2%;
    padding: 1% 1% 1% 1%;
    width: 30%;
}

.innerOrderClass {
    background-color: rosybrown;
}

.info {
    font-size: large;
    font-weight: bold;
    color: black;

}