.created_input {
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
    cursor: pointer;
}

.invalid_input {
    padding: 10px 0;
    font-size: 16px;
    border-color: indianred;
    margin-bottom: 30px;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
    cursor: pointer;
    color: #fff;
}

.invalid_input:focus {
    color: #fff;
    border-color: indianred;
}

.error-text {
    color: #b40e0e;
}

.created_input:focus ~ label,
.invalid_input:focus ~ label,
.invalid_input:valid ~ label,
.created_input:valid ~ label {
    top: -20px;
    left: 0;
    color: #03e9f4;
    font-size: 12px;
}

